body{
    background-color: rgb(252, 219, 252);
    color: rgb(29, 19, 29);
    font-family: sans-serif;
}

.wrapper {
    width: 900px;
    margin: 0 auto; /* centers it */
}

.welcome {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
} 

.layout {
  display: flex;
  gap: 2rem;          /* space between photo + content */
  align-items: flex-start;
}

.photo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.photo img {
  max-width: 200px;
  border-radius: 8px; /* optional but cute */
}

.content {
    flex: 1;
}

h1{
    text-align: center;
    padding: 5px;
}

#welcome{
  text-align: center;
}

/* <!-- Carousel Assingment 5 --> */

#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    gap: 10px;
}

#carousel img {
    max-height: 300px;
    aspect-ratio: auto 300 / 400;
    border-radius: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}